body{
    font-family: 'Lato', sans-serif;
    font-size: 12 px;
    background-color: #eee;
}

#header {
    /* border: green solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    height: 10vh;
    width: 100vw;
    background-color: #eee;
    position: fixed;
    top: 0;
    
}

#header-img{
    /* border: blue solid 1px; */
    width: 20vw;
    height: 5vh;
    margin-left: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    
}

#nav-bar{
    display: flex;
    /* border: magenta solid 1px; */
    flex-direction: row;
    justify-content: space-evenly;
    width: 40vw;
    
}

.nav-link{
    /* border: pink solid 1px; */
    font-size: 0.9rem;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    text-decoration: none;
    
}

#form {
    /* border: green solid 1px; */
    display: flex;
    flex-direction: column;
    height: 17vh;
    margin-top: 10vh;
    margin-bottom: 3vh;
    justify-content: space-between;
    align-items: center;
}

#form a{
    font-size: 1.4rem;
    font-weight: bold;
}

#form #email{
    height: 1.3rem;
    width: 20vw;
}

#form #submit{
    background-color: #f1c40f;
    font-weight: bold;
    height: 2rem;
    width: 11vw;
    font-size: 1rem;
    border-radius: 4px;
    border: 0;
}

#features {
    /* border: magenta solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 18vh;
    
}

.features-text div h2{
    /* border: green solid 1px; */
    margin: 0;
}

.features-text div p{
    /* border: green solid 1px; */
    margin-top: .5vh;
    margin-bottom: 0;
}

.features-text div {
    /* border: pink solid 1px; */
}

.features-icons{
    /* border: green solid 1px; */
    display: flex;
    flex-direction: column;
    color: darkorange;
    font-size: 3rem;
    text-align: center;
    height: 50vh;
    width: 15vw;
    align-content: center;
    justify-content: space-between;
}

.features-icons i{
    /* border: blue solid 1px; */
}

.features-text{
    /* border: green solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 60vw;    
}

#how-works{
    /* border: green solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 13vh;

}

#pricing-info{
    /* border: green solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

#pricing-info .pricing-details{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: black solid 1px;
    width: 23vw;
    height: 50vh;
}

#pricing-info .pricing-details h3{
    /* border: magenta solid 1px; */
    background-color: #ddd;
    margin: 0;
    width: 23vw;
    height: 5vh;
    text-align: center;
    padding-top: 3vh;
    font-size: 1.0rem;
}

#pricing-info .pricing-details .price{
    /* border: blue solid 1px; */
    font-size: 1.5rem;
    margin: 0;
    margin-top: 2vh;
}

#pricing-info .pricing-details .price-descrp{
    /* border: pink solid 1px; */
    width: 10vw;
    height: 20vh;
    line-height: 2rem;
    text-align: center;

}

#pricing-info .pricing-details .two{
    
    width: 14vw;
}

#pricing-info .pricing-details button {
    background-color: #f1c40f;
    border: none;
    width: 8vw;
    height: 7vh;
    font-size: 1.2rem;
    margin-bottom: 2vh;
}

footer{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 76vw;
    margin-left: auto;
    margin-right: auto;
    height: 9vh;
    
}

footer .footer-buttons{
    /* border: magenta solid 1px; */
    margin-top: 2vh;
    margin-bottom: 0;
    font-size: .9rem;
    margin-right: 2vw;
    
}

footer .footer-buttons a{
    color: black;
    text-decoration: none;
}

footer .corp-info{
    /* border: blue solid 1px; */
    margin: 0;
    font-size: .9rem;
    color: #444;
    margin-right: 1vw;
    
}