body{
    font-family: 'Lato', sans-serif;
    font-size: 12 px;
    background-color: #eee;
}

#header {
    /* border: green solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    height: 10vh;

}

#header-img{
    /* border: blue solid 1px; */
    width: 20vw;
    height: 5vh;
    margin-left: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    
}

#nav-bar{
    /* border: magenta solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40vw;
    
}

.nav-link{
    /* border: pink solid 1px; */
    font-size: 0.9rem;
    margin-top: auto;
    margin-bottom: auto;
    
}

#form {
    /* border: green solid 1px; */
    display: flex;
    flex-direction: column;
    height: 17vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    justify-content: space-between;
    align-items: center;
}

#form a{
    font-size: 1.4rem;
    font-weight: bold;
}

#form #email{
    height: 1.3rem;
    width: 20vw;
}

#form #submit{
    background-color: #f1c40f;
    font-weight: bold;
    height: 2rem;
    width: 11vw;
    font-size: 1rem;
    border-radius: 4px;
    border: 0;
}

#features {
    /* border: magenta solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 18vh;
    
}

.features-text div h2{
    /* border: green solid 1px; */
    margin: 0;
}

.features-text div p{
    /* border: green solid 1px; */
    margin-top: .5vh;
    margin-bottom: 0;
}

.features-text div {
    /* border: pink solid 1px; */
}

.features-icons{
    /* border: green solid 1px; */
    display: flex;
    flex-direction: column;
    color: darkorange;
    font-size: 3rem;
    text-align: center;
    height: 50vh;
    width: 15vw;
    align-content: center;
    justify-content: space-between;
}

.features-icons i{
    /* border: blue solid 1px; */
}

.features-text{
    /* border: green solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 60vw;    
}

